* {
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}

.cube {
    display: flex;
    align-items: center;
    padding: .5em;
}

.cube h3 {
    align-items: center;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: aqua;
    grid-column: 3 / 4;
    grid-row: 1 / -1;
}

.bg-yellow {
    background-color: yellow;
    grid-column: 4/ -1;
    grid-row: 2 / -1;
}