* {
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    text-transform: uppercase;
    font-family: sans-serif;
}

.cube {
    display: flex;
    align-items: center;
    padding: .5em;
}

.cube h3 {
    align-items: center;
    text-align: center;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: aqua;
}

.bg-yellow {
    background-color: yellow;
}




@media (min-width: 600px) {
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .bg-blue {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .bg-yellow {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}




@media (min-width: 1000px) {
    section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1em;
    }

    .bg-red {
        background-color: red;
    }

    .bg-blue {
        background-color: aqua;
        grid-column: 3 / 4;
        grid-row: 1 / -1;
    }

    .bg-yellow {
        background-color: yellow;
        grid-column: 4/ -1;
        grid-row: 2 / -1;
    }
}